:root {
  /* use color */
  --main: #FBB02E;
  --mainLight: #FEDF40;
  --mainDeep: #F3600F;
  --sub: #6F5831;
  --subLight: #BCAA92;
  --subDeep: #4A351A;
  --point1: #E0FB2E;
  --point2: #79FB2E;
  --point3: #8833FF;
  --point4: #FF3D57;
  --error: #ff4343;
  --success: #3864ff;
  --dimd: var(--blackOp6);
  --btnDefault: var(--grayDC);
  --btnDisabled: var(--grayE8);
  --border: var(--grayCC);
  --divider: var(--grayE0);
  --inputBg: var(--grayF4);
  --popupBg: var(--grayF8);
  --white: #fff;
  --black: #000;

  /* font */
  --fontSp: "Jalnan";
  --textPrimary: var(--gray20);
  --textSecondary: var(--gray70);
  --textDisabled: var(--grayb0);

  /* etc */
  --width: 128rem;
  --height: 72rem;
  --blur: blur(0.8rem);
  --textShadow04: 0.4rem 0.4rem 0;
  --textShadow08: 0.8rem 0.8rem 0;
  --boxShadow04: 0 0 0.4rem 0;
  --boxShadow08: 0 0 0.8rem 0;
  --boxShadow12: 0 0 1.2rem 0;
  --boxShadow16: 0 0 1.6rem 0;
  --boxShadow24: 0 0 2.4rem 0;
  --quizPadLeft: 16.8rem;
}

body {
  font-family: 'Pretendard';
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -0.025em;
  color: var(--textSecondary);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}
input::placeholder {
  font-weight: 400;
  color: var(--textDisabled);
}
.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

/* layout */
.verticalCenter {
  display: flex;
  align-items: center;
  align-content: center;
}
.position--center, .position--bottom, .position--contentsCenter, .position--contentsBottom {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
.position--center, .position--contentsCenter {
  top: 0;
}
.position--center, .position--bottom {
  bottom: 0;
}
.position--contentsCenter, .position--contentsBottom {
  bottom: 4.8rem;
}
/* 닫기 버튼 */
[class*="__btnClosed"] {
  position: absolute;
  overflow: hidden;
}
/* O, X모양 */
[class*="__btnClosed"]::before, [class*="__btnClosed"]::after,
.ox .distractor__btnSelect::before, .ox .distractor__btnSelect::after,
.quizResult__resultBox::before, .quizResult__resultBox::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* X모양 */
[class*="__btnClosed"]::before, [class*="__btnClosed"]::after,
.ox .distractor__btnSelect.X::before, .ox .distractor__btnSelect.X::after,
.X .quizResult__resultBox::before, .X .quizResult__resultBox::after {
  width: 95%;
  background-color: currentColor;
}
[class*="__btnClosed"]::before,
.ox .distractor__btnSelect.X::before,
.X .quizResult__resultBox::before {
  transform: rotate(45deg);
}
[class*="__btnClosed"]::after,
.ox .distractor__btnSelect.X::after,
.X .quizResult__resultBox::after {
  transform: rotate(-45deg);
}
/* closed btn */
[class*="__btnClosed"]::before, [class*="__btnClosed"]::after {
  height: 0.2rem;
  border-radius: 0.1rem;
}
/* O모양 */
.ox .distractor__btnSelect.O::before, .O .quizResult__resultBox::before {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border-style: solid;
  border-color: currentColor;
}