/* 전체 공통 사용 */
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex--start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.position--center {
  position: absolute;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
}
.position--left {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.position--bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* progress */
.progress {
  height: 0.8rem;
}
.progress__bar {
  position: relative;
  width: 0;
  height: 100%;
}
.progress__bar::after {
  position: absolute;
  top: -0.4rem;
  right: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
}

/* closed 버튼 */
[class*="__btnClosed"] {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 4rem;
  height: 4rem;
  padding-top: 4rem;
  overflow: hidden;
}
[class*="__btnClosed"]::before, [class*="__btnClosed"]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0.2rem;
  margin: auto;
}

/* box arrow pointer */
[class*="arrow--"]::before {
  position: absolute;
  width: 0;
  height: 0;
}

code {
  margin: 0 0.2rem;
  padding: 0.1em 0.5em 0;
}

/* layout */
.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* header */
.header {
  padding-top: 0.8rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}
.header__logo {
  order: 1;
  width: 20.6rem;
  height: 4.4rem;
  padding-top: 4.4rem;
  overflow: hidden;
}

/* bookmark */
.video__bookMark {
  position: absolute;
  top: 1.6rem;
  right: 0;
  min-width: 3.6rem;
  min-height: 10rem;
  
}
.video__bookMark.open {
  overflow: hidden;
}
.bookMark__btnOpen {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.6rem;
  padding: 1.2rem 0.2rem;
  z-index: 10;
}
.bookMark__list {
  padding: 1.6rem 5.6rem 0.8rem 1.6rem;
}
.bookMark__item {
  margin-bottom: 0.8rem;
}
.bookMark__btnMoveTime::before {
  margin-right: 0.8rem;
}

/* skip */
.video__btnSkip {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  width: 10.4rem;
  height: 10.4rem;
  padding-top: 0.4rem;
  padding-left: 0.2rem;
}
.lock .video__btnSkip {
  bottom: 10.4rem;
}
/* controller 공통 사용 */
[class*="controller__"] {
  margin-right: 0.8rem;
}
[class*="controller__btn"] {
  width: 4rem;
  height: 4rem;
  padding-top: 4rem;
  overflow: hidden;
}
/* controller */
.controller {
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
  width: 100%;
  padding: 2.4rem 1.6rem 0.8rem;
}
.controller__videoProgress {
  width: 100%;
  margin-left: 0.8rem;
  margin-bottom: 1.2rem;
}
.controller__btnPlay {
  margin-left: 0;
}
.controller__videoTime::after {
  position: relative;
  top: 0.1rem;
  display: block;
  width: 0.1rem;
  height: 1rem;
  margin: 0 0.6rem;
}
.videoTime__total {
  order: 1;
}
.volume__progress {
  width: 4rem;
}
.controller__playRate {
  position: relative;
}
.playRate__btnOpen {
  height: 4rem;
  padding: 0.2rem 1rem 0 2.6rem;
}
.playRate__btnChangeRate {
  height: 2.4rem;
  margin-bottom: 0.4rem;
  padding: 0 0.4rem 0 2.2rem;
}
.playRate__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playRate__list {
  /* display: none; */
  position: absolute;
  right: 0;
  bottom: 4rem;
  left: 0;
  margin: auto;
  padding: 0.8rem 0.4rem 0.4rem;
  z-index: 10;
}
.controller__btnIndex {
  margin-left: auto;
}
.controller__btnPrevPage, .controller__btnNextPage, .controller__pageNation {
  margin-right: 0;
}
.controller__pageNation::after {
  position: relative;
  top: -0.1rem;
  display: block;
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 1.2rem;
}
.pageNation__total, .controller__btnNextPage {
  order: 1;
}

/* nav */
.nav {
  display: none;
  height: 100vh;
  padding: 1.6rem;
}
.nav__list {
  width: 24rem;
  height: var(--height);
  margin-top: 4rem;
  overflow: hidden;
}
.nav__itemTitle {
  width: 100%;
  padding: 1.2rem 1.6rem;
}
.nav__subList {
  margin: 1.6rem 0;
}
.nav__subItem {
  margin-bottom: 0.4rem;
  padding: 0.2rem 0 0.2rem 1.6rem;
}

/* video */
.video {
  width: 100%;
  height: 100%;
}

/* script */
.script {
  display: none;
  width: var(--width);
  height: 12.8rem;
  padding: 1.6rem 3.2rem 0.4rem 1.6rem;
}
.script__paragraph {
  margin-bottom: 1.6rem;
}
.script__wrapBox {
  height: 100%;
  padding-right: 0.8rem;
  overflow-y: scroll;
}
.script__btnClosed {
  top: 0.4rem;
  right: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  padding-top: 2.4rem;
}

/* help */
.help {
  display: flex;
  flex-wrap: wrap;
}
/* help nav */
.help__helpNav {
  width: 100%;
  padding: 2.4rem 1.6rem 0;
}
.helpNav__item {
  margin-right: 0.4rem;
}
.helpNav__btnMovePage {
  width: 16rem;
  padding: 1.6rem 1.6rem 1.2rem;
}
/* help contents */
.help__contentsWrap {
  width: 100%;
  height: calc(100% - 7.5rem);
  padding: 4rem 10.4rem;
}
/* learningmap */
.learningmap__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.learningmap__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.8rem;
}
.learningmap__item::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.8rem;
  padding-top: 0.4rem;
  padding-right: 0.1rem;
}
/* pageview */
.pageview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageview__imgWrap {
  position: relative;
  width: 67.5rem;
  height: 48rem;
}
[class*="pageview__btnTarget"] {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
}
.pageview__btnTarget1 {
  top: 0.6rem;
  left: var(--btnPad);
}
.pageview__btnTarget2 {
  top: 0.6rem;
  right: var(--btnPad);
}
.pageview__btnTarget3 {
  top: 10rem;
  right: var(--btnPad);
}
.pageview__btnTarget4 {
  right: 10.4rem;
  bottom: var(--btnPad);
}
.pageview__btnTarget5 {
  right: 20.8rem;
  bottom: var(--btnPad);
}
.pageview__btnTarget6 {
  bottom: 6.4rem;
  left: var(--btnPad);
}
[class*="pageview__targetImg"] {
  display: none;
}
[class*="pageview__btnTarget"]:hover + [class*="pageview__targetImg"] {
  position: absolute;
  display: block;
}
[class*="pageview__targetImg"]::after {
  position: absolute;
  display: inline-block;
  width: auto;
  padding: 0.3em 0.7em 0.3em;
}
.pageview__targetImg1 {
  top: 0.7rem;
  left: 0.7rem;
  width: 10rem;
  height: 2rem;
}
.pageview__targetImg1::after {
  top: -0.1rem;
  right: -10rem;
}
.pageview__targetImg1::before {
  top: 0;
  right: -1.2rem;
  bottom: 0;
  margin: auto;
}
.pageview__targetImg2 {
  top: 0.6rem;
  right: 0.2em;
  width: 10rem;
  height: 2.4rem;
}
.pageview__targetImg2::after {
  top: 0.1rem;
  left: -10rem;
}
.pageview__targetImg2::before {
  top: 0;
  left: -1.2rem;
  bottom: 0;
  margin: auto;
}
.pageview__targetImg3 {
  top: 9rem;
  right: 3.8rem;
  width: 13rem;
  height: 6rem;
}
.pageview__targetImg3::after {
  top: 7.2rem;
}
.pageview__targetImg3::before {
  top: 6rem;
  left: 0.8rem;
}
.pageview__targetImg4 {
  bottom: 6.4rem;
  right: 4.4rem;
  width: 16.5rem;
  height: 2rem;
}
.pageview__targetImg4::after {
  bottom: 3.2rem;
}
.pageview__targetImg4::before {
  bottom: 2rem;
  left: 0.8rem;
}
.pageview__targetImg5 {
  right: 0;
  width: 23rem;
  height: 48rem;
}
.pageview__targetImg5::after {
  right: 2rem;
  bottom: 1.5rem;
  left: -0.8rem;
}
.pageview__targetImg5::before {
  bottom: 5.1rem;
  left: 0.6rem;
}
.pageview__targetImg6 {
  bottom: 6.4rem;
  left: 4.2rem;
  width: 16.5rem;
  height: 2rem;
}
.pageview__targetImg6::after {
  bottom: 3.2rem;
}
.pageview__targetImg6::before {
  bottom: 2rem;
  left: 0.6rem;
}
/* keyboard */
.keyboard__imgWrap {
  width: 100%;
  height: 38.5rem;
}

.quizPage__intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
.lock .quizPage__intro {
  padding-bottom: 8rem;
}
.intro__exp {
  width: 100%;
  margin-bottom: 4rem;
}
.intro__btnStart, .result__btnRetry {
  padding: 0.5em 1em 0.4em;
}
.quizPage__quiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  height: 100%;
}
[class^="quiz__"] {
  width: 100%;
}
.quiz__question {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 10.4rem;
  margin: 4.8rem 4rem 4rem 6.4rem;
}
.question__number {
  display: flex;
  align-items: flex-end;
  margin-right: 0.8rem;
}
.question__number::before {
  margin-bottom: -0.2rem;
}
.question__titleWrap {
  padding-bottom: 0.4rem;
}
.quiz__additional {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2.4rem 4rem 4rem 6.4rem;
  padding: 0.7em 1em 0.6em;
}
.additional__item {
  margin: 0 1.2rem;
}
.quiz__select {
  margin: 0 4rem 0 6.4rem;
}
.select__item {
  position: relative;
  margin: 0 0.8rem 1.2rem;
}
/* 사지선다 */
.quiz__select.sa {
  padding-left: 4rem;
}
.sa .select__btnSelect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sa .select__btnSelect::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.8rem;
  padding-top: 0.5rem;
}
.sa .select__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sa .select__item::before {
  order: -1;
  position: absolute;
  margin-left: -3.6rem;
}
.sa .select__item.correctAnswer::before {
  padding-right: 4.2rem;
}
/* ox */
.quiz__select.ox, .quiz__select.ju {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ox .select__btnSelect {
  position: relative;
  width: 16rem;
  height: 16rem;
  margin: 0 0.8rem;
  padding-top: 16rem;
  overflow: hidden;
}
.ox .select__btnSelect.O::before, .ox .select__btnSelect.X::before, .ox .select__btnSelect.X::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.ox .select__btnSelect.O::before {
  width: 75%;
  height: 75%;
}
.ox .select__btnSelect.X::before, .ox .select__btnSelect.X::after {
  width: 100%;
  height: 0.4rem;
}
/* 주관식 */
.quiz__select.ju {
  flex-direction: column;
}
.select__input {
  margin: 0 auto 2.4rem;
  padding: 0.5em 0.75em;
}
.select__btnAnswerCheck {
  padding: 0.5em 1em;
}
/* 해설지 */
.quiz__answerSheet {
  width: 100%;
  padding: 2.4rem;
  z-index: 10;
}
.answerSheet__inner {
  width: 100%;
  margin: auto;
  padding: 2.4rem;
}
.answerSheet__correctAnswer, .answerSheet__exp {
  display: flex;
  justify-content: flex-start;
}
.answerSheet__correctAnswer {
  align-items: center;
}
.answerSheet__exp {
  align-content: flex-start;
}
.answerSheet__correctAnswer {
  margin-bottom: 0.8rem;
}
.answerSheet__correctAnswer::before, .answerSheet__exp::before {
  display: flex;
  align-items: center;
  margin-right: 1.2rem;
  padding: 0.3rem 0.5em;
}
.answerSheet__correctAnswer span {
  position: relative;
  width: 2rem;
}
.answerSheet__correctAnswer.O span::before, .answerSheet__correctAnswer.X span::before, .answerSheet__correctAnswer.X span::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  margin: auto;
}
.answerSheet__correctAnswer.O span::before {
  border: 0.2rem solid var(--point2);
}
.answerSheet__correctAnswer.X span::before, .answerSheet__correctAnswer.X span::after { 
  width: 100%;
  height: 0.2rem;
}
.answerSheet__btnNextStep {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  padding: 0.4em 1em;
}
.quiz__alert {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.alert__textBox {
  position: relative;
  width: 40rem;
  height: 40rem;
  overflow: hidden;
}
.alert__textBox::before, .alert__textBox span {
  position: absolute;
}
.alert__textBox::before {
  top: 4rem;
}
.alert__textBox span {
  padding: 1.6rem;
  z-index: 500;
}
.quizPage__result {
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.lock .quizPage__result {
  padding-bottom: 8rem;
}
.result__title {
  margin-bottom: 2.4rem;
}
.result__list {
  margin-bottom: 4rem;
}
[class^="result__item"] {
  position: relative;
  width: 18.4rem;
  height: 18.4rem;
  padding-top: 18.4rem;
  margin: 0 1.6rem;
  overflow: hidden;
}
[class^="result__item"]::before, [class^="result__item"]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
[class^="result__item"].correct::before {
  width: 13.6rem;
  height: 13.6rem;
}
[class^="result__item"].wrong::before, [class^="result__item"].wrong::after {
  width: 14.4rem;
  height: 0.4rem;
}
