/* 전체 공통 사용 */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--squareRoundB);
  color: var(--textPrimary);
}
input::placeholder {
  color: var(--textDisabled);
}
.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
}
.disabled, :disabled {
  opacity: 0.3;
}

/* circle mark, cross mark, closed btn */
.circleMark::before, .crossMark::before, .crossMark::after,
[class*="__btnClosed"]::before, [class*="__btnClosed"]::after,
[class^="result__item"]::before, [class^="result__item"]::after,
.ox .select__btnSelect.O::before, .ox .select__btnSelect.X::before, .ox .select__btnSelect.X::after,
.answerSheet__correctAnswer span::before, .answerSheet__correctAnswer span::after {
  content: "";
}
.circleMark::before,
[class^="result__item"].correct::before,
.ox .select__btnSelect.O::before,
.answerSheet__correctAnswer.O span::before {
  border-radius: 50%;
}
.crossMark::before,
[class*="__btnClosed"]::before,
[class^="result__item"].wrong::before,
.ox .select__btnSelect.X::before,
.answerSheet__correctAnswer.X span::before {
  transform: rotate(45deg);
}
.crossMark::after,
[class*="__btnClosed"]::after,
[class^="result__item"].wrong::after,
.ox .select__btnSelect.X::after,
.answerSheet__correctAnswer.X span::after {
  transform: rotate(-45deg);
}
/* closed Btn */
[class*="__btnClosed"] {
  transition: transform 400ms ease;
}
[class*="__btnClosed"]:hover {
  transform: rotate(180deg);
}
[class*="__btnClosed"]::before, [class*="__btnClosed"]::after {
  background-color: var(--white);
  box-shadow: var(--shadowFloat);
}
[class*="__btnClosed"]:hover::before, [class*="__btnClosed"]:hover::after {
  background-color: var(--point3);
  box-shadow: var(--shadowPress);
}

/* box arrow pointer */
[class*="arrow--"]::before, [class*="controller__btn"]:hover::before, .playRate__btnOpen:hover::before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent;
}
.arrow--top::before {
  border-top-width: 0.8rem;
  border-top-color: var(--white);
}
.arrow--right::before {
  border-right-width: 0.8rem;
  border-right-color: var(--white);
}
.arrow--bottom::before {
  border-bottom-width: 0.8rem;
  border-bottom-color: var(--white);
}
.arrow--left::before {
  border-left-width: 0.8rem;
  border-left-color: var(--white);
}


/* style */
body {
  font-family: var(--regularFont);
  font-size: var(--body);
}
.wrap {
  background: url("../images/wrap_bg1.png") no-repeat left bottom,
              url("../images/wrap_bg2.png") no-repeat right top;
}
/* header */
.header__logo {
  background: url("../images/logo.png") no-repeat;
}
.header__lesson {
  font-size: var(--headline6);
  color: var(--subDeep);
}

/* main */
[class^="main__"] {
  background-color: var(--white);
  box-shadow: var(--shadowBox);
}
/* video page */
/* bookMark */
.video__bookMark.open {
  color: var(--white);
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
  border-radius: 1.2rem 0 0 1.2rem;
}
.bookMark__btnOpen {
  font-family: var(--squareRoundB);
  font-size: var(--subTitle);
  line-height: 1.3;
  color: var(--point2);
  word-break: break-all;
  border: 0.2rem solid var(--point2);
  border-right: 0;
  border-radius: 0.8rem 0 0 0.8rem;
  background-color: var(--white);
  box-shadow: var(--shadowFloat);
}
.bookMark__btnOpen:hover, .video__bookMark.open .bookMark__btnOpen {
  color: var(--point3);
  background-color: var(--point2);
  box-shadow: var(--shadowPress);
}
.video__bookMark.open .bookMark__btnOpen {
  border-top-left-radius: 0;
}
.bookMark__list {
  font-size: var(--smallText);
  counter-reset: number;
}
.bookMark__btnMoveTime::before {
  counter-increment: number;
  content: counter(number)'.';
  font-size: var(--body);
}
.bookMark__btnMoveTime:hover {
  color: var(--mainLight);
  border-bottom: 0.1rem solid var(--mainLight);
}
/* skip */
.video__btnSkip {
  font-family: var(--squareRoundEB);
  font-size: var(--headline5);
  color: var(--point1);
  border-radius: 5.2rem;
  background-color: var(--white);
  border: 0.4rem solid var(--point1);
  box-shadow: var(--shadowFloat);
}
.video__btnSkip:hover {
  color: var(--point3);
  background-color: var(--point1);
  border-color: var(--point3);
  box-shadow: var(--shadowPress);
}
/* controller */
[class*="controller__btn"], [class*="playRate__btn"] {
  background-repeat: no-repeat;
  background-position: center;
}
[class*="controller__btn"]::after, .playRate__btnOpen::after {
  padding: 0.5em 0.75em 0.35em;
  font-size: var(--smallText);
  color: var(--white);
  border-radius: 0.4rem;
  background: var(--dimd);
  backdrop-filter: var(--blur);
}
[class*="controller__btn"]:hover::before, .playRate__btnOpen:hover::before {
  border-top-width: 0.8rem;
  border-top-color: var(--dimd);
}
[class*="controller__btn"]:disabled, .playRate__btnOpen:disabled {
  overflow: hidden;
}
[class*="controller__btn"]:disabled::before, .playRate__btnOpen:disabled::before {
  display: none;
}
[class*="__total"] {
  color: var(--mainLight);
}
/* progress */
[class*="__progress"] {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.4rem;
}
.progress__bar {
  background-color: var(--mainLight);
  border-radius: 0.4rem 0 0 0.4rem;
}
.progress__bar::after {
  content: "";
  background-color: var(--mainLight);
  border-radius: 0.8rem;
  box-shadow: 0 0 0.8rem 0 rgba(0,0,0,0.6);
}
/* controller style */
.controller {
  font-family: var(--squareRoundB);
  font-size: var(--title);
  line-height: 1;
  color: var(--white);
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  backdrop-filter: var(--blur);
}
.videoTime__progress {
  box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.15)
}
.controller__videoTime {
  font-family: var(--regularFont);
  font-size: var(--caption);
}
.controller__btnPlay::after {
  content: "일시정지";
}
.controller__btnPlay:hover {
  background-image: url("../images/controller/icon__play--hover.png");
}
.controller__btnPlay, .controller__btnPlay:disabled {
  background-image: url("../images/controller/icon__play.png");
}
.controller__btnPlay.pause::after {
  content: "재생하기";
}
.controller__btnPlay.pause:hover {
  background-image: url("../images/controller/icon__pause--hover.png");
}
.controller__btnPlay.pause, .controller__btnPlay.pause:disabled {
  background-image: url("../images/controller/icon__pause.png");
}
.controller__btnReplay::after {
  content: "다시보기";
}
.controller__btnReplay:hover {
  background-image: url("../images/controller/icon__replay--hover.png");
}
.controller__btnReplay, .controller__btnReplay:disabled {
  background-image: url("../images/controller/icon__replay.png");
}
[class*="playRate__btn"]:hover {
  color: var(--mainLight);
}
[class*="playRate__btn"]:disabled {
  color: inherit;
}
.playRate__btnOpen::after {
  content: "재생 속도 변경";
}
.playRate__btnOpen:hover {
  background-image: url("../images/controller/icon__xL--hover.png");
}
.playRate__btnOpen, .playRate__btnOpen:disabled {
  background-image: url("../images/controller/icon__xL.png");
  background-position-x: 0.4rem;
}
.playRate__btnChangeRate:hover {
  background-image: url("../images/controller/icon__x--hover.png");
}
.playRate__btnChangeRate, .playRate__btnChangeRate:disabled {
  font-family: var(--regularFont);
  font-size: var(--body);
  font-weight: var(--fontBold);
  background-image: url("../images/controller/icon__x.png");
  background-position-x: left;
}
.playRate__list {
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
  border-radius: 0.8rem;
}
.playRate__list::before {
  border-top-color: var(--dimd);
}
.controller__btnVolume::after {
  content: "음소거";
}
.controller__btnVolume:hover {
  background-image: url("../images/controller/icon__volume--hover.png");
}
.controller__btnVolume, .controller__btnVolume:disabled {
  background-image: url("../images/controller/icon__volume.png");
}
.controller__btnVolume.mute::after {
  content: "음소거 해제";
}
.controller__btnVolume.mute:hover {
  background-image: url("../images/controller/icon__mute--hover.png");
}
.controller__btnVolume.mute, .controller__btnVolume.mute:disabled {
  background-image: url("../images/controller/icon__mute.png");
}
.controller__btnIndex {
  background-image: url("../images/controller/icon__index.png");
}
.controller__btnIndex::after {
  content: "index 열기";
}
.controller__btnIndex:hover {
  background-image: url("../images/controller/icon__index--hover.png");
}
.controller__btnInfo {
  background-image: url("../images/controller/icon__info.png");
}
.controller__btnInfo::after {
  content: "학습도우미 열기";
}
.controller__btnInfo:hover {
  background-image: url("../images/controller/icon__info--hover.png");
}
.controller__btnScript {
  background-image: url("../images/controller/icon__script.png");
}
.controller__btnScript::after {
  content: "스크립트 열기";
}
.controller__btnScript:hover {
  background-image: url("../images/controller/icon__script--hover.png");
}
.controller__btnFullscreen {
  background-image: url("../images/controller/icon__fullscreen.png");
}
.controller__btnFullscreen::after {
  content: "전체화면";
}
.controller__btnFullscreen:hover {
  background-image: url("../images/controller/icon__fullscreen--hover.png");
}
.controller__btnLock {
  background-image: url("../images/controller/icon__lock.png");
}
.controller__btnLock::after {
  content: "컨트롤러 잠금해제";
}
.controller__btnLock:hover {
  background-image: url("../images/controller/icon__lock--hover.png");
}
.controller__btnLock.unLock {
  background-image: url("../images/controller/icon__unlock.png");
}
.controller__btnLock.unLock::after {
  content: "컨트롤러 잠금";
}
.controller__btnLock.unLock:hover {
  background-image: url("../images/controller/icon__unlock--hover.png");
}
.controller__btnPrevPage {
  background-image: url("../images/controller/icon__prevPage.png");
}
.controller__btnPrevPage::after {
  content: "이전 페이지 이동";
}
.controller__btnPrevPage:hover {
  background-image: url("../images/controller/icon__prevPage--hover.png");
}
.controller__btnNextPage {
  background-image: url("../images/controller/icon__nextPage.png");
}
.controller__btnNextPage::after {
  content: "다음 페이지 이동";
}
.controller__btnNextPage:hover {
  background-image: url("../images/controller/icon__nextPage--hover.png");
}
.controller__pageNation::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.4);
}

/* nav */
.nav {
  color: var(--textSecondary);
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
}
.nav__list {
  background-color: var(--white);
  border: 0.2rem solid var(--point1);
  border-radius: 1.2rem;
  box-shadow: var(--shadowBox);
}
.nav__itemTitle {
  font-family: var(--squareRoundEB);
  font-size: var(--title);
  letter-spacing: 0.1em;
  background-color: var(--divider);
}
.nav__itemWrap.active .nav__itemTitle {
  color: var(--point3);
  background-color: var(--point1);
}
.nav__subLink::before {
  content: "";
  background-color: var(--textSecondary);
  transform: rotate(45deg);
}
.active .nav__subLink::before, .nav__subLink:hover::before {
  background-color: var(--point1);
}
.active .nav__subLink, .nav__subLink:hover {
  color: var(--point1);
}
.active .nav__subLink:hover {
  text-decoration: none;
}
.nav__subLink:hover {
  text-decoration: underline;
}

/* script */
.script {
  font-size: var(--smallText);
  color: var(--white);
  border-radius: 1.2rem 1.2rem 0 0;
  border: 0.2rem solid var(--point1);
  border-bottom: none;
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
}

/* help */
.help {
  background-color: var(--white);
}
.help__helpNav {
  background: var(--point2) url("../images/wrap_bg2.png") no-repeat left -4rem;
  background-size: 45%;
}
.helpNav__btnMovePage {
  font-family: var(--squareRoundEB);
  font-size: var(--title);
  color: var(--point1);
  background-color: var(--point3);
  border-radius: 1.2rem 1.2rem 0 0;
  border-style: solid;
  border-width: 0.2rem 0.2rem 0.1rem 0.2rem;
  border-color: transparent;
  border-bottom-color: var(--border);
  box-shadow: inset 0 -0.4rem 0.4rem 0 rgba(0, 0, 0, 0.05);
}
.helpNav__btnMovePage:hover {
  border-color: var(--point1);
  border-bottom-color: var(--border);
  text-decoration: underline;
}
.active .helpNav__btnMovePage {
  background-color: var(--white);
  border-color: var(--point1);
  border-bottom-color: transparent;
  text-decoration: none;
  box-shadow: none;
}
.helpNav__btnMovePage:disabled {
  opacity: 1;
}

/* learningmap */
.learningmap__list {
  counter-reset: number;
}
.learningmap__item::before {
  counter-increment: number;
  content: counter(number);
  font-family: var(--squareRoundB);
  font-size: var(--subTitle);
  color: var(--white);
  background-color: var(--textDisabled);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
}
.learningmap__item.current::before {
  color: var(--point3);
  background-color: var(--point1);
}
.learningmap__title {
  color: var(--textPrimary);
}
/* pageview */
.pageview__imgWrap {
  background: url("../images/help/pageview.png") no-repeat center;
}
[class*="pageview__btnTarget"] {
  font-family: var(--squareRoundB);
  font-weight: bold;
  color: var(--white);
  background-color: var(--textDisabled);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 70% 100%, 0 100%);
}
[class*="pageview__btnTarget"]:hover {
  color: var(--point3);
  background-color: var(--point1);
}
[class*="pageview__targetImg"] {
  background-repeat: no-repeat;
  background-position: center;
}
[class*="pageview__targetImg"]::after {
  border-radius: 0.4rem;
  font-size: var(--caption);
  line-height: 1.2;
  background-color: var(--white);
}
.pageview__targetImg1 {
  background-image: url("../images/help/lesson--hover.png");
}
.pageview__targetImg1::after {
  content: "차시명입니다.";
}
.pageview__targetImg2 {
  background-image: url("../images/help/logo--hover.png");
}
.pageview__targetImg2::after {
  content: "과정명입니다.";
}
.pageview__targetImg3 {
  background-image: url("../images/help/bookmark--hover.png");
}
.pageview__targetImg3::after {
  content: "해당 소주제로 이동이 가능합니다.";
}
.pageview__targetImg4 {
  background-image: url("../images/help/pageController--hover.png");
}
.pageview__targetImg4::after {
  content: "학습도우미 및 스크립트창을 열거나 학습 화면을 제어할 수 있습니다.";
}
.pageview__targetImg5 {
  background-image: url("../images/help/nav--hover.png");
}
.pageview__targetImg5::after {
  content: "학습 구조를 확인하고 해당 페이지로 이동이 가능합니다.";
}
.pageview__targetImg6 {
  background-image: url("../images/help/videoController--hover.png");
}
.pageview__targetImg6::after {
  content: "재생/일시정지 등 학습 영상을 제어할 수 있습니다.";
}
/* keyboard */
.keyControl__imgWrap {
  background: url("../images/help/keyboard.png") no-repeat center;
}

/* quiz */
/* quiz 공통 사용 */
code {
  font-family: var(--coding) !important;
  letter-spacing: 0.05em !important;
  color: var(--white) !important;
  background-color: #2d2d2d !important;
  border-radius: 0.2rem;
}
.quizPage__intro, .quizPage__result {
  background: var(--gradient);
}
.intro__btnStart, .select__btnAnswerCheck, .result__btnRetry {
  font-family: var(--squareRoundB);
  font-size: var(--headline6);
  letter-spacing: 0.2em;
  color: var(--point3);
  background-color: var(--point1);
  border-radius: 0.4rem;
  border: 0.2rem solid transparent;
  box-shadow: var(--shadowFloat);
}
.intro__btnStart:hover, .select__btnAnswerCheck:hover, .result__btnRetry:hover {
  border-color: var(--point3);
  box-shadow: var(--shadowPress);
}
/* o, x mark */
[class^="result__item"].correct::before,
.ox .select__btnSelect.O::before {
  border: 0.4rem solid var(--textSecondary);
}
[class^="result__item"].wrong::before, [class^="result__item"].wrong::after,
.ox .select__btnSelect.X::before, .ox .select__btnSelect.X::after {
  background-color: var(--textSecondary);
  border-radius: 0.2rem;
}
/* quiz intro */
.intro__title {
  font-family: var(--squareRoundEB);
  font-size: var(--headlineXL);
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: var(--subDeep);
}
.intro__exp {
  font-size: var(--headline6);
  text-align: center;
}
.intro__exp em {
  font-family: var(--squareRoundEB);
  font-style: normal;
  color: var(--point2);
}
/* quiz */
.paper__question {
  font-size: var(--headline6);
  border-bottom: 0.1rem dashed var(--point1);
}
.question__number {
  font-family: 'NanumSquareRound';
  font-size: var(--headline3);
  font-weight: bold;
  line-height: 1;
  color: var(--point1);
}
.question__number::before {
  font-size: var(--headline1);
}
.question__number::before {
  content: "Q";
}
.question__number::after {
  content: ".";
}
.question__titleWrap {
  font-weight: bold;
}
.question__oxExp {
  font-size: var(--subTitle);
  color: var(--sub-deep);
}
.question__titleWrap em {
  color: var(--point2);
  border-bottom: 0.1rem solid var(--point2);
}
.paper__additional {
  font-family: var(--squareRoundEB);
  font-size: var(--title);
  color: var(--point3);
  background-color: var(--point2);
  border-radius: 0.4rem;
}
.paper__additional.code {
  font-size: var(--smallText);
}
/* 사지선다 */
.paper__select.sa {
  counter-reset: number;
}
.sa .select__item::before {
  font-size: var(--smallText);
  font-weight: bold;
  color: var(--point2);
}
.sa .select__item.myAnswer::before {
  content: "PICK";
}
.sa .select__item.correctAnswer::before {
  content: "정답";
  background: url("../images/quiz/icon__check.png") no-repeat right -0.8rem;
}
.sa .select__btnSelect:hover, .sa .myAnswer .select__btnSelect, .sa .correctAnswer  .select__btnSelect {
  font-weight: bolder;
  color: var(--point1);
  text-decoration: underline;
}
.sa .select__btnSelect::before {
  counter-increment: number;
  content: counter(number);
  font-family: 'NanumSquareRound';
  font-size: var(--subTitle);
  font-weight: bold;
  color: var(--text-secondary);
  text-decoration: none;
  background-color: var(--light-gray);
  border: 0.2rem solid var(--point1);
  border-radius: 0.4rem;
}
.sa .select__btnSelect:hover::before, .sa .myAnswer .select__btnSelect::before, .sa .correctAnswer  .select__btnSelect::before {
  color: var(--point3);
  background-color: var(--point1);
  border-color: var(--point3);
}
/* ox */
.ox .select__btnSelect {
  border:0.2rem solid var(--point1);
  border-radius: 1.2rem;
  background-color: var(--light-gray);
}
.ox .select__btnSelect:hover {
  background-color: var(--point1);
  border: 0.2rem solid var(--point3);
}
.ox .select__btnSelect.O:hover::before {
  border-color: var(--point3);
}
.ox .select__btnSelect.X:hover::before, .ox .select__btnSelect.X:hover::after {
  background-color: var(--point3);
}
/* 주관식 */
.select__input {
  font-size: var(--headline5);
  color: var(--text-secondary);
  text-align: center;
}
.select__input:focus {
  border-color: var(--point1);
  outline: none;
}
/* 해설지 */
.paper__answerSheet {
  box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.3);
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
}
.answerSheet__inner {
  background: var(--white);
  border-radius: 1.2rem 0 1.2rem 1.2rem;
  border: 0.2rem solid var(--point1);
}
.answerSheet__correctAnswer {
  font-size: var(--subTitle);
  font-weight: bold;
  color: var(--point2);
}
.answerSheet__exp {
  color: var(--text-secondary);
}
.answerSheet__correctAnswer::before, .answerSheet__exp::before {
  font-size: var(--subTitle);
  font-weight: bold;
  color: var(--point3);
  background-color: var(--point1);
  border-radius: 0.4rem;
}
.answerSheet__correctAnswer::before {
  content: "정답";
} 
.answerSheet__exp::before {
  content: "해설";
}
.answerSheet__correctAnswer span::before, .answerSheet__correctAnswer span::after {
  display: block;
}
.answerSheet__correctAnswer.O span::before {
  border: 0.2rem solid var(--point2);
}
.answerSheet__correctAnswer.X span::before, .answerSheet__correctAnswer.X span::after {
  background-color: var(--point2);
}
.answerSheet__btnNextStep {
  font-size: var(--subTitle);
  font-weight: bold;
  color: var(--point1);
  background-color: var(--white);
  border-radius: 0 0 0 0.4rem;
  border: 0.2rem solid var(--point1);
}
.answerSheet__btnNextStep:hover {
  color: var(--point3);
  background-color: var(--point1);
}
/* alert message */
.paper__alert {
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
}
.paper__alert.active {
  animation: alert 1.5s ease-in-out 1 normal both;
}
@keyframes alert {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
.alert__textBox {
  font-family: var(--squareRoundEB);
  font-size: var(--headline4);
  line-height: 1.2;
  color: var(--point3);
  text-align: center;
  background-color: var(--point1);
  border-radius: 50%;
  box-shadow: 0 0 2.4rem 0 rgba(0, 0, 0, 0.5);
}
.alert__textBox::before {
  content: "!";
  font-size: 28rem;
}
.alert__textBox span {
  text-shadow: 0 0 0rem var(--point1),
               0 0.3rem 0 var(--point1),
               0 -0.3rem 0 var(--point1),
               0.3rem 0 0 var(--point1),
               0.3rem 0.3rem 0 var(--point1),
               0.3rem -0.3rem 0 var(--point1),
               -0.3rem 0 0 var(--point1),
               -0.3rem 0.3rem 0 var(--point1),
               -0.3rem -0.3rem 0 var(--point1);
}
/* quiz result */
.result__title {
  font-size: var(--headline1);
  color: var(--subDeep);
}
[class^="result__item"] {
  border-radius: 1.2rem;
  border: 0.2rem solid var(--point2);
  background-color: var(--white);
}

