body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.wrap {
  width: 100%;
  height: 100%;
  background: url("../images/bg1.png") no-repeat left bottom,
              url("../images/bg2.png") no-repeat right top;
}
/* header */
.header {
  width: 100%;
  justify-content: space-between;
  padding: 1.6rem 2.4rem 0 1.6rem;
}
.header__course {
  order: 1;
  width: 18.2rem;
  height: 4rem;
  padding-top: 4rem;
  background: url("../images/logo.png") no-repeat center;
  overflow: hidden;
}
.header__lessonTitle {
  font-family: var(--fontSp);
  font-size: 2rem;
  color: var(--subDeep);
}
.lessonTitle__number {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.2rem;
  padding-top: 0.1rem;
  text-align: center;
  background-color: var(--main);
  border-radius: 0.4rem;
}

/* main */
.contents {
  width: var(--width);
  height: var(--height);
  background-color: var(--white);
  box-shadow: var(--boxShadow24) var(--blackOp2);
}
/* contents title */
.contents__title {
  position: absolute;
}
.title__label {
  margin-right: 0.8rem;
  padding: 0.2rem 1.8rem 0.2rem 1rem;
  font-family: var(--fontSp);
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--point3);
  clip-path: polygon(0 0, 100% 0%, 90% 50%, 100% 100%, 0 100%);
}
.title__exp {
  padding-top: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--textPrimary);
}
.videoPage, .video, .quizWrap, .quizPaper, .quizResult, .quizPaper__alertMessage, .quizResult {
  width: 100%;
  height: 100%;
}
/* bookmark */
.videoPage__bookMark {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}
.bookMark__btnListOpen {
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.2rem;
  padding: 0.8rem 0 0.2rem;
  font-family: var(--fontSp);
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: var(--white);
  border: 0.2rem solid var(--point3);
  border-radius: 1.6rem;
  box-shadow: var(--boxShadow08) var(--blackOp3);
  z-index: 9999;
}
.bookMark__btnListOpen::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 0.2rem;
  background: url("../images/bookMark__deco.png") no-repeat center;
}
.bookMark__btnListOpen:hover,
.open .bookMark__btnListOpen {
  color: var(--mainLight);
  background-color: var(--point3);
}
.bookMark__btnListOpen:hover::after,
.open .bookMark__btnListOpen::after {
  background-image: url("../images/bookMark__deco--hover.png");
}
.open .bookMark__btnListOpen {
  border-radius: 0;
  box-shadow: none;
}
.bookMark__list {
  display: none;
  max-width: 32rem;
  min-height: 12.1rem;
  padding: 1.2rem 4.8rem 1.2rem 1.6rem;
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
  border-radius: 0.8rem;
}
.open .bookMark__list {
  display: block;
}
.bookMark__item {
  margin: 0.4rem 0;
}
.bookMark__btnMoveTime {
  padding-left: 1.6rem;
  font-size: 1.4rem;
  color: var(--white);
  text-align: left;
  text-indent: -1.6rem;
}
.bookMark__btnMoveTime:hover, .bookMark__btnMoveTime.active {
  color: var(--mainLight);
}
.bookMark__btnMoveTime.active {
  text-decoration: underline;
}
/* skip btn */
.videoPage__btnSkip {
  position: absolute;
  right: 2.4rem;
  bottom: 2.4rem;
  width: 12rem;
  height: 12rem;
  padding: 0.4rem 0 0 0.5rem;
  font-family: var(--fontSp);
  font-size: 2.8rem;
  color: var(--textSecondary);
  background-color: var(--whiteOp8);
  backdrop-filter: var(--blur);
  border: 0.6rem solid var(--point3);
  border-radius: 6rem;
}
.videoPage__btnSkip:hover {
  color: var(--mainLight);
  border-width: 0.4rem;
  background-color: var(--point3);
}
.videoPage__btnSkip:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 6rem;
  border: 0.2rem dashed var(--mainLight);
}
/* outro btn */
.videoPage__outro {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}
.videoPage__btnDown, .videoPage__btnPrint {
  margin-left: 0.8rem;
  padding: 0.5rem 0.8rem;
  font-family: var(--fontSp);
  font-size: 1.4rem;
  line-height: 1;
  color: var(--textSecondary);
  background-color: var(--btnDefault);
  border-radius: 0.4rem;
}
.videoPage__btnDown::before, .videoPage__btnPrint::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.6rem;
  background-repeat: no-repeat;
  background-position: center;
}
.videoPage__btnDown::before {
  background-image: url("../images/btn__down.png");
}
.videoPage__btnPrint::before {
  background-image: url("../images/btn__print.png");
}
.videoPage__btnDown:hover, .videoPage__btnPrint:hover {
  color: var(--white);
  background-color: var(--main);
}
.videoPage__btnDown:hover::before {
  background-image: url("../images/btn__down--hover.png");
}
.videoPage__btnPrint:hover::before {
  background-image: url("../images/btn__print--hover.png");
}
/* quizPaper */
.quizPaper {
  padding-top: 4rem;
  background: url("../images/quizPaper__deco.png") no-repeat left bottom;
}
/* question */
.quizPaper__question {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 9.3rem;
  margin-bottom: 4rem;
  padding: 0 4rem 1.2rem 16.8rem;
  background-repeat: no-repeat;
  background-position: 6rem bottom;
}
.quiz1 .quizPaper__question {
  background-image: url("../images/question1.png");
}
.quiz2 .quizPaper__question {
  background-image: url("../images/question2.png");
}
.quiz3 .quizPaper__question {
  background-image: url("../images/question3.png");
}
.question__oxExp {
  margin-bottom: 0.8rem;
  padding: 0.2rem 1.6rem 0.1rem 1.2rem;
  color: var(--textPrimary);
  background-color: var(--point2);
  border-radius: 1.6rem;
}
.question__text {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--textPrimary);
}
.question__text em {
  font-style: italic;
  color: var(--error);
  text-decoration: underline;
}
.quizPaper__question::before, .quizPaper__question::after {
  content: "";
  position: absolute;
}
.quizPaper__question::before {
  bottom: 0.4rem;
  left: 12.8rem;
  width: calc(100% - 16rem);
  border-bottom: 0.2rem dashed var(--border);
}
.quizPaper__question::after {
  right: 2.2rem;
  bottom: 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--border);
  transform: rotate(45deg);
}
.question__resultMark {
  position: absolute;
  bottom: -0.2rem;
  left: 6.4rem;
  width: 8.8rem;
  height: 8.8rem;
  padding-top: 8.8rem;
  color: var(--error);
  overflow: hidden;
}
.question__resultMark.wrong::before, .question__resultMark.wrong::after {
  height: 0.8rem;
  border-radius: 0.4rem;
  box-shadow: var(--boxShadow08) var(--blackOp3);
}
.question__resultMark.correct::before {
  border: 0.8rem solid currentColor;
}
/* 보기 */
.quizPaper__additional {
  justify-content: center;
  margin: 0 3rem 4rem var(--quizPadLeft);
  padding: 0.8rem 2.4rem 0.7rem;
  font-weight: 700;
  color: var(--subDeep);
  border: 0.2rem solid currentColor;
  border-radius: 0.4rem;
}
.additional__item::after {
  content: ",";
  margin-right: 1.2rem;
}
.additional__item:last-child:after {
  display: none;
}
/* 정답 선택 구분 라벨 */
.mySelect .btnSelect__chip::before {
  content: "나의 답";
}
.correctAnswer .btnSelect__chip::before {
  content: "정답";
}
.mySelect .btnSelect__chip::before,
.correctAnswer .btnSelect__chip::before {
  position: absolute;
  width: 5.5rem;
  height: 2.8rem;
  padding-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--white);
  background-color: var(--mainDeep);
}
.sa .mySelect .btnSelect__chip::before,
.sa .correctAnswer .btnSelect__chip::before {
  top: 0;
  left: -5.4rem;
  border-radius: 0.4rem 0 0 0.4rem;
  border-right: 0.1rem solid var(--mainLight);
}
.ox .mySelect .btnSelect__chip::before,
.ox .correctAnswer .btnSelect__chip::before {
  top: -3.2rem;
  left: -0.4rem;
  border-radius: 0.4rem 0.4rem 0 0;
  border-bottom: 0.1rem solid var(--mainLight);
}
/* 정답 선택지 */
.distractor__btnSelect {
  position: relative;
}
/* 사지선다 */
.sa {
  margin-left: var(--quizPadLeft);
  font-size: 1.8rem;
}
.distractor__item {
  margin-bottom: 1.2rem;
}
.sa .distractor__btnSelect:hover, .sa .mySelect, .sa .correctAnswer {
  font-weight: 500;
  color: var(--subDeep);
}
.sa .distractor__number {
  margin-right: 0.8rem;
}
.sa .mySelect .distractor__number,
.sa .correctAnswer .distractor__number {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.sa .distractor__btnSelect:hover .distractor__number,
.sa .mySelect .distractor__number,
.sa .correctAnswer .distractor__number {
  color: var(--white);
  background-color: var(--main);
}
/* OX */
.ox {
  justify-content: center;
  width: 100%;
}
.ox .distractor__btnSelect {
  width: 17.6rem;
  height: 17.6rem;
  margin: 0 2.4rem;
  color: var(--textSecondary);
  background-color: var(--btnDefault);
  border-radius: 1.6rem;
  box-shadow: var(--boxShadow08) var(--blackOp2);
  border: 0.4rem solid transparent;
}
.distractor__btnSelect.X::before, .distractor__btnSelect.X::after {
  height: 0.8rem;
  border-radius: 0.4rem;
}
.distractor__btnSelect.O::before {
  border-width: 0.8rem;
}
.ox .distractor__btnSelect:hover, .ox .mySelect {
  color: var(--mainDeep);
  background-color: var(--white);
  border-color: var(--main);
  box-shadow: var(--boxShadow04) var(--blackOp2);
}
.ox .mySelect, .ox .correctAnswer {
  border-top-left-radius: 0;
}
/* ju */
.ju {
  display: flex;
  flex-direction: column;
}
.distractor__input {
  width: 40rem;
  margin: 0 auto 2.4rem;
  padding: 1.2rem 1.6rem;
  font-size: 2.4rem;
  color: var(--textPrimary);
  text-align: center;
  border: 0.4rem solid var(--main);
  border-radius: 0.8rem;
}
.distractor__btnConfirm {
  width: 16rem;
  margin: auto;
  padding-top: 1.2rem;
  border: 0.2rem solid transparent;
}
.distractor__btnConfirm:hover {
  border-color: var(--main);
}
/* alert message */
.quizPaper__alertMessage {
  display: none;
  justify-content: center;
  background-color: var(--dimd);
  backdrop-filter: var(--blur);
}
.alertMessage__textBox {
  position: relative;
  justify-content: center;
  width: 48rem;
  height: 48rem;
  font-family: var(--fontSp);
  font-size: 6rem;
  color: var(--point3);
  text-align: center;
  background: var(--main) url("../images/alertBg.png") no-repeat center;
  border-radius: 24rem;
  box-shadow: var(--boxShadow12) var(--blackOp3);
  overflow: hidden;
}
.alertMessage__textBox::before {
  content: "";
  position: absolute;
  width: 97%;
  height: 97%;
  border: 0.2rem dashed var(--point3);
  border-radius: 50%;
}
/* answer sheet */
.quizPaper__answerSheet {
  padding: 2.4rem 4rem 6.4rem var(--quizPadLeft);
  color: var(--white);
  background: var(--point3) url("../images/answerBg.png") no-repeat left bottom;
}
.quizPaper__answerSheet::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 1.6rem);
  height: calc(100% - 1.6rem);
  margin: auto;
  border: 0.2rem dashed var(--main);
  border-radius: 0.8rem 0 0.8rem 0.8rem;
}
.answerSheet__correct {
  margin-bottom: 0.8rem;
}
.answerSheet__label {
  margin-right: 1.2rem;
  padding: 0.2rem 1rem;
  font-family: var(--fontSp);
  font-size: 2rem;
  background-color: var(--main);
  border-radius: 0.4rem;
}
.correct__text {
  padding-top: 0.2rem;
  font-weight: 800;
  font-size: 2.2rem;
  color: var(--mainLight);
}
.answerSheet__exp {
  display: flex;
  align-items: flex-start;
}
.exp__text {
  padding-top: 0.2rem;
  font-size: 1.8rem;
}
.answerSheet__btnNextStep {
  position: absolute;
  top: -3.7rem;
  right: 0.8rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 -0.2rem 0.6rem 0 var(--blackOp2);
}
.answerSheet__btnNextStep:hover {
  border-bottom: 0.2rem solid var(--main);
  box-shadow: 0 -0.1rem 0.4rem 0 var(--blackOp6);
}
.quizResult {
  flex-direction: column;
  justify-content: center;
  background: var(--white) url("../images/resultBg.png") no-repeat left bottom;
}
.quizResult__list {
  padding-left: 32rem;
  background: url("../images/resultTitle.png") no-repeat left center;
}
.quizResult__item {
  margin: 0 0.8rem;
  border: 0.4rem solid var(--main);
  border-radius: 1.6rem;
}
.quizResult__quizNumber {
  height: 12rem;
  padding-top: 12rem;
  background-color: var(--main);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.quizResult__item:nth-child(1) .quizResult__quizNumber {
  background-image: url("../images/resultQuiz1.png");
}
.quizResult__item:nth-child(2) .quizResult__quizNumber {
  background-image: url("../images/resultQuiz2.png");
}
.quizResult__item:nth-child(3) .quizResult__quizNumber {
  background-image: url("../images/resultQuiz3.png");
}
.quizResult__resultBox {
  position: relative;
  width: 17.6rem;
  height: 17.6rem;
  padding-top: 17.6rem;
  color: var(--mainDeep);
  overflow: hidden;
}
.O .quizResult__resultBox::before {
  border-width: 0.8rem;
}
.X .quizResult__resultBox::before, .X .quizResult__resultBox::after {
  height: 0.8rem;
  border-radius: 0.4rem;
}
.quizResult__btnRetry {
  margin-top: 4rem;
  border: 0.2rem solid transparent;
}

/* 학습도우미 */
.help {
  display: flex;
  flex-direction: column;
  width: var(--width);
  height: var(--height);
  background-color: var(--white);
  z-index: 9999;
}
.help__nav {
  padding: 4rem 1.6rem 0;
  background-color: var(--inputBg);
}
.nav__list {
  display: flex;
}
.nav__btnChangeContents {
  min-width: 20rem;
  margin-right: 0.8rem;
  padding-top: 1.4rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset 0 -0.6rem 0.6rem 0 var(--blackOp2);
}
.nav__btnChangeContents.active {
  box-shadow: none;
  text-decoration: underline;
}
.help__contents {
  flex-grow: 1;
  justify-content: center;
  border: 0.4rem solid var(--point3)
}
.contents__innerBox {
  background-position: center;
  background-repeat: no-repeat;
}
.keyControls {
  width: 102.7rem;
  height: 34.7rem;
  padding-top: 34.7rem;
  background-image: url("../images/keyControl.png");
  overflow: hidden;
}
.pageView {
  position: relative;
  width: 74rem;
  height: 48rem;
  background-image: url("../images/pageView.png");
}
[class*=pageView__btnNumber] {
  position: absolute;
  padding-top: 0.1rem;
}
[class*=pageView__btnNumber]:hover {
  color: var(--point1);
  background-color: var(--point4);
}
[class*=pageView__imgBox] {
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  overflow: hidden;
}
[class*=pageView__btnNumber]:hover + [class*=pageView__imgBox] {
  display: block;
}
.pageView__btnNumber1 {
  top: 0;
  left: var(--pageViewPad);
}
.pageView__imgBox1 {
  top: 0.4rem;
  left: 0.1rem;
  width: 25.2rem;
  height: 5.4rem;
  padding-top: 5.4rem;
  background-image: url("../images/pageView__img1.png");
}
.pageView__btnNumber2 {
  top: 0;
  right: var(--pageViewPad);
}
.pageView__imgBox2 {
  top: 0;
  right: 0.1rem;
  width: 10.2rem;
  height: 5.8rem;
  padding-top: 5.8rem;
  background-image: url("../images/pageView__img2.png");
}
.pageView__btnNumber3 {
  top: 9.2rem;
  right: var(--pageViewPad);
}
.pageView__imgBox3 {
  top: 6.2rem;
  right: 10rem;
  width: 20.8rem;
  height: 9.7rem;
  padding-top: 9.7rem;
  background-image: url("../images/pageView__img3.png");
}
.pageView__btnNumber4 {
  right: var(--pageViewPad);
  bottom: 11.2rem;
}
.pageView__imgBox4 {
  right: 3rem;
  bottom: 10rem;
  width: 21.5rem;
  height: 9.3rem;
  padding-top: 9.3rem;
  background-image: url("../images/pageView__img4.png");
}
.pageView__btnNumber5 {
  left: var(--pageViewPad);
  bottom: 0;
}
.pageView__imgBox5 {
  left: 0.1rem;
  bottom: 0.1rem;
  width: 73.8rem;
  height: 15.1rem;
  padding-top: 15.1rem;
  background-image: url("../images/pageView__img5.png");
}
.pageView__btnNumber6 {
  left: 8.8rem;
  bottom: var(--pageViewPad);
}
.pageView__imgBox6 {
  left: 9.2rem;
  bottom: 0.1rem;
  width: 38rem;
  height: 5.3rem;
  padding-top: 5.3rem;
  background-image: url("../images/pageView__img6.png");
}
.pageView__btnNumber7 {
  right: 0;
  bottom: var(--pageViewPad);
  left: 0;
  margin: auto;
} 
.pageView__imgBox7 {
  right: 0.1rem;
  bottom: 0.1rem;
  left: 0;
  width: 54.3rem;
  height: 7.3rem;
  margin: auto;
  padding-top: 7.3rem;
  background-image: url("../images/pageView__img7.png");
}
.pageView__btnNumber8 {
  right: 9rem;
  bottom: var(--pageViewPad);
} 
.pageView__imgBox8 {
  right: 9.2rem;
  bottom: 0.1rem;
  width: 22.8rem;
  height: 5.3rem;
  padding-top: 5.3rem;
  background-image: url("../images/pageView__img8.png");
}
.pageView__btnNumber9 {
  right: var(--pageViewPad);
  bottom: 0;
}
.pageView__imgBox9 {
  right: 0.1rem;
  bottom: 0.1rem;
  width: 34.1rem;
  height: 7.3rem;
  padding-top: 7.3rem;
  background-image: url("../images/pageView__img9.png");
}
.help__btnClosed {
  top: 1.6rem;
  right: 1.6rem;
  width: 4rem;
  height: 4rem;
  padding-top: 4rem;
}
.help__btnClosed:hover {
  color: var(--point3);
}